@import "base";

.top__block {
  @include flex__column();
  align-items: center;
  margin-bottom: 60px;

  & > a {
    font-size: 21px;
    line-height: 140%;
    color: #333333;
    margin-bottom: 15px;
  }

  & > h2 {
    font-family: serif;
    font-size: 30px;
    line-height: 41px;
    color: #333333;
  }
}

.background__img {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-color: #454646;
  background-position: center;
  padding: 25px 0 30px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 525px;

    nav {
      display: flex;
      gap: 40px;
    }

    .header__account {
      display: flex;
      gap: 40px;
      align-items: center;
    }

    .header__logos {
      svg {
        fill: #ffffff;
      }

      &:hover {
        svg {
          fill: #e3bf2c;
        }
      }
    }

    .header__link:hover {
      color: #e3bf2c;
    }

    .main__logo {
      svg {
        fill: #FFFFFF;
      }

      &:hover {
        svg {
          fill: #e3bf2c;
        }
      }
    }
  }

  .center__block {
    @include flex__column();
    align-items: center;
    margin-bottom: 80px;

    .main__title {
      font-family: serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      margin-bottom: 50px;
    }

    .main__button {
      @include main__button();

      &:hover {
        background-color: #e3bf2c;
        color: #333333;
      }
    }
  }

  .separator {
    width: 100%;
    border: 1px solid #FFFFFF;
    margin-bottom: 30px;
  }

  .wrapper__items {
    display: flex;

    .item {
      padding: 0 15px;
      border-right: 1px solid #FFFFFF;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }

      .img__item {
        width: 100%;
        max-width: 160px;
      }
    }
  }
}

.filters {
  padding: 100px 0 120px;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > li {
      list-style: none;
      padding: 5px;
    }

    & > li > .filters__item {
      @include main__button();
      background: #ffffff;
      border: 1px solid #D6D6D6;
      color: #333333;
      padding: 15px 0;
      width: 165px;
      text-align: center;
      transform: translate(0, -53px);
      //box-shadow: 10px 10px #ffffff, 11px 11px 0 1px #d6d6d6;
    }

    .filters__li::before {
      content: '';
      display: block;
      width: 165px;
      height: 53px;
      border: 1px solid #D6D6D6;
      position: relative;
      z-index: -1;
      left: 6px;
      top: 6px;
    }

    a:hover {
      background-color: #e3bf2c;
      color: #333333;
      border-color: #333333;
    }

    .filters__active {
      @include main__button();
      border-color: #333333;
      height: 61px;
      padding: 18px 35px;
    }
  }

  .grid {
    @include grid();

    &__card {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      max-width: 350px;
      height: 100%;
      min-height: 280px;
      background-size: cover;
      background-position: center;
    }

    .card1 {
      background-image: url("../images/grid__card1.png");
    }

    .card2 {
      background-image: url("../images/grid__card2.png");
    }

    .card3 {
      background-image: url("../images/grid__card3.png");
    }

    .card4 {
      background-image: url("../images/grid__card4.png");
    }

    .card5 {
      background-image: url("../images/grid__card5.png");
    }

    .card6 {
      background-image: url("../images/grid__card6.png");
    }
  }

  .grid__card > a {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 30px;

    &:hover {
      color: #e3bf2c;
    }
  }
}

.background__black {
  padding: 100px 0 100px;
  background-color: #000000;

  .middle__content {
    @include flex__column();
    align-items: center;
    width: 100%;
    max-width: 730px;
    margin: 0 auto;

    .top__block {

      & > a {
        color: #FFFFFF;
      }

      & > h2 {
        color: #FFFFFF;
      }
    }

    & > p {
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      margin-bottom: 60px;
    }

    & > a.main__button {
      @include main__button();
      color: #333333;
      background-color: #FFFFFF;

      &:hover {
        background-color: #e3bf2c;
      }
    }
  }
}

.blog {
  padding: 120px 0;

  .wrapper__blog {
    display: flex;
    flex-direction: column;

    .grid__blog {
      @include grid();
      margin-bottom: 60px;

      .article {
        width: 100%;
        max-width: 350px;
        height: 100%;
        min-height: 370px;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: end;
      }

      .card-1 {
        background-image: url("../images/card-1.png");
      }

      .card-2 {
        background-image: url("../images/card-2.png");
      }

      .card-3 {
        background-image: url("../images/card-3.png");
      }

      .text__link, .text__link_ {
        font-size: 21px;
        line-height: 140%;
        padding: 0 60px;
        text-align: center;
        margin-bottom: 35px;
      }

      .text__link_ {
        padding: 0 90px;
      }
    }

    .main__button {
      @include main__button();
      align-self: center;

      &:hover {
        background-color: #e3bf2c;
        color: #333333;
      }
    }

  }
}


































